form div.custom_field_row {
    border-bottom: 1px;
}

.custom_field input {
    height: 22px!important;
    padding-left: 10px!important;
    border-color: rgb(209, 209, 209);
}

.custom_field select {
    height: 28px;
    padding-left: 4px!important;
}

input #x_zip, input #x_card_num {
    width: 91%;
}

div .custom_form {
    width: 80%;
}
